<html>
<head>

    <title>CODE JUDGE</title>
    <style>
    </style>

</head>
<body>
{% include "base.html" %}
{% if display_buttons %}

Logged in : {{ student.student_name }}
{% comment %} <a href="/student/logout" class="loggingOut">Logout</a> {% endcomment %}

{% else %}

Logged out (<a href="/student">Login</a>)

{% endif %}

<h2>List of Problems -</h2>

<table style="width: 100%;">
    <tr>
        <td style="width: 50%;">Title</td>
        <td style="width: 25%;">Description</td>
        <td style="width: 50%;">Actions</td>
    </tr>
    {% for problem in problems %}
        <tr>
            <td><b>{{ problem.id }}.</b>{{ problem.title }}</td>
            <td>{{ problem.description }}</td>
            <td>{% if display_buttons %}
                <button onclick="location.href='/student/problems/{{ problem.id }}'" type="submit" class="Viewing" >View</button>
                <button onclick="location.href='/student/problems/{{ problem.id }}'" type="submit" class="Solving">Solve</button>
            {% endif %}<hr></td>
        </tr>
    {% endfor %}
</table>
</body>

</html>