<html>
<head>

    <title>CODE JUDGE</title>
    <style>
    </style>
</head>
<body>

{% include "base.html" %}
Logged in : {{ student_details.student_name }}
<hr>

<h2>Runs:-</h2>

<table style="width: 100%;">
    <tr>
        <td style="width: 50%;"><u>Problem</td>
        <td style="width: 50%;"><u>Language</td>
        <td style="width: 50%;"><u>Status</td>

    </tr>
    {% for run in runs %}
        <tr>
            <td>{{ run.problem}}</td>
            <td>{{ run.language }}</td>
            <td>{{ run.status }}</td>
        </tr>
    {% endfor %}
</table>
</body>

</html>